* {
  box-sizing: border-box;
  font-family: "fontImp";
}

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "fontImp";
  src: url(../font/CaviarDreams.ttf);
}

html {
  font-size: 65%;
  font-family: "fontImp";
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(45deg, rgb(91, 91, 232), rgb(230, 108, 108));
}

::selection {
  background-color: #de4ff1;
  color: #fff;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 59, 59);
}

.nav-bar {
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 2em;
  /* border-bottom: 1px solid rgb(57, 57, 57); */
}

.content {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 10px;
  margin-left: 10px;
  border-radius: 20px;
  position: relative;
}

.content2 {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 10px;
  margin-right: 10px;
  border-radius: 20px;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(226, 226, 226, 0.4);
  padding: 10px;
  gap: 5px;
  border-radius: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons_done {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: red;
  padding: 1em 7em;
  border-radius: 10px;
  border: 0.5px solid #778899;
  cursor: pointer;
  color: #fff;
  font-size: 1.4em;
}

.delete:hover {
  background-color: rgb(208, 23, 23);
  color: #fff;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgb(40, 195, 40);
  padding: 1em 7em;
  border-radius: 10px;
  border: 0.5px solid #778899;
  cursor: pointer;
  color: #fff;
  font-size: 1.4em;
}

.done:hover {
  background-color: rgb(33, 161, 22);
  color: #fff;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  gap: 8px;
}

.reminder_title {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  text-transform: capitalize;
}

.koha {
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.add {
  width: 10%;
  padding: 1.2em;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  border: 0.5px solid #778899;
  color: rgb(25, 24, 24);
  font-size: 1.2em;
  cursor: pointer;
}

.toDo-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* --------------------- POP UP ------------------- */
.form-cont {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forma {
  background-color: whitesmoke;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
}

input,
textarea {
  /* padding: 10px;
  border-radius: 10px;
  width: 80%; */

  padding: 1em;
  margin: 1rem;
  border: 0.5px solid rgb(161, 161, 161);
  border-radius: 1rem;
  width: 100%;
}

.button {
  padding: 1rem 5rem;
  border: 0.5px solid rgb(161, 161, 161);
  border-radius: 1rem;
}

.button:hover {
  background-color: rgb(242, 85, 245);
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
/* ---------------------------Other pop up---------------------------- */
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 500px;
  padding: 20px;
  border-radius: 1rem;
}

#x {
  font-size: 1.3em;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

#message {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid rgb(155, 105, 105);
  width: 100px;
  height: 40px;
  padding: 5px;
  text-align: center;
}
#x2 {
  position: absolute;
  top: 26rem;
  right: 42rem;
  cursor: pointer;
  padding: 10px;
}

.active {
  border: 2px solid rgb(199, 193, 199);
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  padding: 1em 2.5em;
}

.active:hover {
  background-color: rgb(250, 52, 52);
  border: 2px solid transparent;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
